

.brand {
    background-color: #f5f5f5;
    color: #c78212;
}


.brand-content {
    padding-bottom: 25px;
    padding-top: 1px;
    margin-left: 50px;
}

.username {
    line-height: 1rem;
}

.user-info {
    font-weight: 100;
    font-size: 20px;
    line-height: 0.6rem;
}

.brand-option ul {
    list-style-type: none;
    display: table;
    /* text-align: center; */
}

.brand-option ul li {
    display: table-cell;
}

.brand-option ul li button{
    padding: 10px;
    font-size: 18px;
    color: white;
    width: 200px;
    background-color: #c78212;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.brand-option ul li button:hover {
    background-color: white;
    color: #c78212; 
}