<div class="brand">
    <div class="brand-content">
        <h1 class="username" >{{ myUser.firstName }} {{ myUser.name}}</h1>
        <h2 class="user-info"> {{ myUser.function }}</h2>
        <h2 class="user-info"> {{ myUser.role }}</h2>
    </div>
    <div class="brand-option">
        <ul>
            <li><button>A propos de moi.</button></li>
            <li><button>Compétences</button></li>
            <li><button>Expérience</button></li>
            <li><button>Education</button></li>
        </ul>
    </div>
</div>
